<!DOCTYPE html>
 <html> 
  <head>
    <title>WhatsOnYourFeet</title>
    <style>
      h1{
          font-size: 36px;
          text-align: center;
          color: #FFFFFF;
          border-bottom-style: solid;
          border-color: #FFFFFF;
      }

      .form {
          background-color: #000000;
          border-radius: 25px;
    }

    form {
          text-align: center;
          color: #FFFFFF;
    }

    img{
          width: 30%;
          padding-left: 30px;
    }

    </style>
  </head>
  <body>  
    <div class="form">
    <h1>Update your kicks</h1>
    <form action="/collection/<%=@sneaker.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <br>
        <label><b>Brand:</b></label>
        <input type="text" id="brand" name="brand" placeholder="<%=@sneaker.brand%>" >
        <br>
        <br>
        <label><b>Name:</b></label>
        <input type="text" id="name" name="name" placeholder="<%=@sneaker.name%>">
        <br>
        <br>
        <label><b>Colorway:</b></label>
        <input type="text" id="colorway" name="colorway" placeholder="<%=@sneaker.colorway%>">
        <br>
        <br>
        <label><b>Purchase Date:</b></label>
        <input type="text" id="purchase_date" name="purchase_date" placeholder="<%=@sneaker.purchase_date%>">
        <br>
        <br>
        <label><b>Price: $</b></label>
        <input type="text" id="price" name="price" placeholder="<%=@sneaker.price%>">
       <br>
       <br>
        <input type="submit" name="submit" value="Update">
        <br>
    </form>
    </div>
    <br>
    <br>
    <img src="https://media.giphy.com/media/kMivT1IwY3T8c/giphy.gif">
    <img src="https://media.giphy.com/media/kMivT1IwY3T8c/giphy.gif">
    <img src="https://media.giphy.com/media/kMivT1IwY3T8c/giphy.gif">
    </body>
</html>